@font-face {
  font-family: proxima-nova;
  src: url(Proxima\ Nova\ Font.otf)
}

:root {
  --dark: #2E2E2E;
  --light: #FAFAFF;
  --grey: rgb(114, 114, 114);
  --pink: #E2B4BD;
  --blue: #93A8AC;
}

.root {
  margin: 0;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: row;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
}

.root h1 {
  color: var(--dark);
  font-weight: 800;
}

.root p {
  color: var(--grey);
  line-height: 1.4em;
}

.root .main-image {
  height: 100%;
  width: 35vw;
}

.root .main-image img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 1em;
}

.info {
  padding: 0% 5%;
  width: 45vw;
  display: flex;
  flex-direction: column;
}

.button {
  width: min-content;
  padding: 1em;
  background-color: var(--dark);
  color: var(--light);
  margin-top: 1em;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .root {
    flex-direction: column;
    padding-top: 5vh
  }

  .root .main-image, .root .info {
    width: 80vw;
  }
}