doctype html
html
  include includes/head.pug
  title Inés Lozano Palacio - #{pageName}
  link(rel='stylesheet', href='./build/' + pageName + '.css')
  script(defer, src='./build/' + pageName + '.js')
